<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Test Suite">
<listeners>
    <listener class-name="com.example.selenium_automation.listeners.ExtentTestNGListeners"/>
</listeners>
    <test name="Regression Tests">

        <classes>

            <class name="com.example.selenium_automation.LoginTest"/>
            <class name="com.example.selenium_automation.ContactTest"/>

        </classes>

    </test>

</suite>